[submodule "rbarros-backend"]
	path = rbarros-backend
    url = git@github-rbarros-backend:estiveljr/rbarros-backend.git
[submodule "rbarros-frontend"]
	path = rbarros-frontend
    url = git@github-rbarros-frontend:estiveljr/rbarros-frontend.git



